 /*{outline: red solid 1px;}*/

body {
    background-color: gainsboro;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 10px auto;
    /*max-width: 1000px;*/
    padding: 10%;
}

h1 {
    text-align: center;
    color: blue;
}
  

img {
    display:inline;
    margin:auto;
    max-width: 500px;
}


#portada {
    text-align: center;
    width: 800px;
}

h2 {
    text-align: center;

}

.content {
    display: flex;
    flex: wrap;
    gap: 20px;
    align-items:center;

}

.section {
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    padding: 20px;
    margin-bottom: 20px;
}