 /*{outline: red solid 1px;}*/
 
@import url(/CSS/reset.css);

body {
    background-color: gainsboro;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 10px auto;
    max-width: 1000px;
}

h1 {
    text-align: center;
    color: blue;
}
  

img {
    display:inline;
    margin:auto;
    max-width: 500px;    
}


#portada {
    text-align: center;
    width: 800px;
}

h2 {
    text-align: center;

}

.content {
    display: flex;
    flex: wrap;
    gap: 10px;
}
